html body{
  background-color: lightgray;
  overflow-x: hidden;
}

.filter{
  padding: 20px;
  background-color: white;
  /* margin: 10px 0px 10px 10px; */
}
.programs{
  /* margin: 5px; */
}

.yearButton{
  background-color: green;
  margin: 10px 3px;
  border: none;
  border-radius: 3px;
  box-shadow: 1px 1px 0.3px gray;
}

.programName{
  color: rgb(126, 39, 126);
}
body::-webkit-scrollbar {
  display: none;
}

.body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.homescreen{
  padding: 0 30px;
}
.spinner{
  margin: 0 auto;
}
i{
  color: black;
  font-style:normal;
  font-weight: bold;

}

.hireme {
  border: none;
  background-color: lightgray;
  color: #000;
  /* box-shadow: 0 0 40px 40px linen inset, 0 0 0 0 linen; */
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  padding: 8px 20px;
  font-family: Helvetica, sans-serif;
}
.hireme:hover {
  box-shadow: 0 0 10px 0 linen inset, 0 0 10px 4px linen;
}
